ul,
ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul > li {
    float: left;
}

a {
    text-decoration: none;
}

.under-line {
    text-decoration: underline;
}

.clr {
    clear: both;
}

body {
    font-family: 'Microsoft YaHei';
}

#bkg {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -999;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 100%;
}

#bkg > img {
    width: 100%;
    height: auto;
}

.nav {
    position: absolute;
    left: 0%;
    top: 0px;

    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;

    background-color: #f0f0f0;

    opacity: 0.95;
}

.nav > ul {
    float: left;

    height: 100%;
}

.nav > ul > li {
    padding: 0 20px 0 20px;
    height: 100%;

    border: solid #c1c1c1;
    border-width: 0 0 0 1px;
}

.nav > ul > li > a {
    color: #4c4c4c;
}

.nav > ul > li > a > img {
    width: auto;
    height: 80%;

    padding-top: 10%;
}

.nav > .more-product {
    width: 130px;
    text-align: center;

    background-color: #24cbf9;
    color: #ffffff;

    cursor: pointer;
}

.nav > .more-product:hover {
    background-color: #3a8df9;
}

.search {
    width: 100%;
    margin: 120px 0 0 0;
}

.logo {
    width: 20%;
    margin: 20px auto auto auto;
}

.logo > img {
    width: 100%;
}

.form-con {
    width: 45%;
    margin: 20px auto auto auto;
}

.form-con > form {
    position: relative;

    height: 55px;

    background-color: #ffffff;
    opacity: 0.95;
}

.form-con .search-word {
    float: left;

    width: 85%;
    height: 34px;

    margin: 0 0 0 10px;
    padding: 8px 0 8px 0; /* 为了保证光标高度不变化  http://blog.csdn.net/luochao_tj/article/details/17755457 */
    /*line-height: 34px;*//* chrome 下不设置line-height就可以自动居中*/
    font-size: 25px;

    /*background-color: yellow;*/

    border: none;
    outline: medium; /*解决输入的时候还是会有边框*/
}

.form-con .search-btn {
    position: absolute;
    top: 0;
    right: 0;

    padding: 14px 0 15px 0; /* TODO:line-height + height 没用了 */

    width: 140px;

    font-size: 20px;
    text-align: center;

    background-color: #24cbf9;
    color: #ffffff;

    cursor: pointer;
}

.form-con .search-btn:hover {
    background-color: #3a8df9;
}

#footer,
#footer a {
    color: white;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 160px;

    width: 100%;
    text-align: center;
}

#footer > div {
    margin-bottom: 5px;
}

#footer > div > ul {
    display: block;

    width: 100%;
    height: 100%;

    text-align: center;
}